/* 
Project Name: Landing Page
Client: One Month
Author: Keerthana Suri
*/
/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/
* {
-moz-box-sizing: border-box; /* Firexfox */
-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
box-sizing: border-box; /* IE */
}

body {
font-size: 100%;
line-height: 1.7;
background: url('../images/butterfly.jpg');
font-size: 100%;
}

/*----------------------------------------------------------------------------- 
=Layout 
-----------------------------------------------------------------------------*/
.container {
width: 800px;
margin: 0 auto;
background: #FFF;
padding: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image: none; 
}

img {
width: 800px;	
}

h1 {
text-align: center;	
color:red;
font-family: 'Montserrat', sans-serif;
}

.carousel-caption {
font-size: 40px;
font-family: 'Montserrat', sans-serif;	
}

.new_html_code {
width:800px;
height:800px;
overflow:hidden;
display:block;
font-size: 50px;
font-family: 'Montserrat', sans-serif;
text-align: center;
color:red;
}